<!--Left column-->
{% autoescape %}
<div id="leftColumn">
   {% if reg is defined %}
      <h3><a href="/">Log in</a></h3>
   {% else %}


   {% if auth is not null %}

      <h2>{{ auth }}</h2>

      <p>
      <form action="http://ooptask/logout" method="post">
         <input type="submit" name="logout" value="Logout" >
      </form>
      </p>
   {% else %}
   <h3><a href="register">Sign up</a></h3>
   <br>
   <h3>Log in</h3>
   <font color="red" size="2">
      {% if error_log.empty is defined %}
      {{ error_log.empty }}
      {% else %}
      {{ error_log.user }}
      {% endif %}
   </font>


      <form action="http://ooptask/login" method="post">
         <label>
            Login<input type="text" name="username" required="required" value="">
         </label>
         <br>
         <br>
         <label>
            Password<input type="password" required="required" name="password">
         </label>
         <p>
            <input type="checkbox" name="remember" id="remember">
            <label for="remember">Remember me </label>
         </p>

         <input type="submit" name="login" value="Login">
      </form>

   {% endif %}


   {% endif %}
   {% endautoescape %}
</div>