{% include 'header.html' %}

{% autoescape %}

<a href="/"><font size="4">< Back</font></a>
<br>
<br>
<div style="background-color: beige; width: 550px; padding: 10px;">
    <h3>{{ item.product|escape }}</h3>
    <p>{{ item.description|escape}}</p>
</div>

{% if c_and_r != null %}
<center><p>Reviews and ratings</p></center>
{% else %}
<p>No one has rated this product</p>
{% endif %}

{% for item in c_and_r %}

<table>
    <tr style="height: 100px">
        <td width="100"><p>{{ item.username }}</p></td>

        <td style="width: 350px;">
            {% if item.comment is not null %}
            <div style="width: 320px">
                <p style="background-color: #ddffdd; padding: 5px">{{ item.comment }}</p>

                {% else %}
                <font style="size: 3px; color: darkgrey">empty</font>
                {% endif %}
            </div>
        </td>

        <td style="width: 40px">
            <center>
                {% if item.rating is not null %}
                <font size="6"><p>{{ item.rating }}</p></font>
                {% else %}
                <font style="size: 3px; color: darkgrey">not rated</font>
                {% endif %}
            </center>
        </td>
    </tr>
</table>
<hr size="1">

{% endfor %}


<br>
<br>
{% for item in avg %}
{% if item['sum(rating)'] != null %}

<table>
    <tr>
        <td width="250">
            <p>Sum of rating</p>
            <font size="6"><p>{{ item['sum(rating)'] }}</p></font>
        </td>

        <td width="350">
            <p>Overall rating</p>
            <font size="6"><p>{{ item['avg(rating)']|slice(0,3) }}</p></font>
        </td>
    </tr>
</table>
{% else %}
{% endif %}
{% endfor %}

{% endautoescape %}


{% include 'footer.html' %}